#main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#gritverse-title {
  text-shadow: 0.8px 0.8px 0.8px #8fa0a6;
}
#login-title {
  color: white;
  text-shadow: 0.8px 0.8px 0.8px #8fa0a6;
}
#form-title-container {
  border-radius: 2.5%;
  box-shadow: 4.4px 4.4px 4.4px #8fa0a6;
  text-align: center;
  background-color: #333;
  width: 25%;
  height: 500px;
  padding: 75px, 75px, 76px;
}
#password {
  margin-bottom: 25px;
}
#logo-60 {
  position: relative;
  top: 16rem;
  left: 4rem;
}
@media screen and (max-width: 769px) {
  #logo-60 {
    display: none;  }
  #form-title-container {
    width: 50%;
  }
}
