*
{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
}
header{
    padding: 2rem;
    text-align: center;


}

ul {
   
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
   float: left;
  }
  
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
 
  
  
  li a:hover {
    background-color: #111;
  }


  footer{
      border: 2px solid black;
        text-align: center;
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;        
  }