* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}
nav ul {
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
li a:hover {
  background-color: #111;
}
body {
  background-color: #e4eff2;
}
header {
  padding: 2rem;
  text-align: center;
}
footer {
  background-color: rgb(51, 51, 51);
  color: white;
  border-top: 2px solid #8fa0a6;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}
input {
  background-color: rgb(199, 199, 199);
  height: 30px;
  width: 200px;
  text-align: center;
  margin: 3px;
  box-shadow: 1px 1.4px 2px #8fa0a6;
}
button textarea {
  background-color: #c7c7c7;
}
button {
  border-radius: 15px;
  height: 30px;
  width: 200px;
  margin: 3px;
  box-shadow: 1px 1.4px 2px #8fa0a6;
}
header {
  padding: 2rem;
  text-align: center;
}
ul {
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
#ProfileInfo {
  text-align: center;
  justify-content: center;
}
#home-page-paragraph {
  color: white;
}
p {
  color: white;
}
#home-page-link:hover {
  color: #8fa0a6;
}
a {
  color: white;
}
#form-title-container,
h2 {
  color: white;
}
textarea {
  resize: none;
  height: 2.5rem;
}
#ProfileInfo {
  text-align: center;
  justify-content: center;
}
